.custom-table .ant-table-tbody > tr > td {
  border-bottom: none !important;
}

.custom-table .ant-table-container {
  border-inline-start: none !important;
}

.custom-table .ant-table-thead > tr > th {
  border-bottom: none !important;
}

.custom-table .ant-table-tbody > tr > td,
.custom-table .ant-table-thead > tr > th {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}


/* Move the icon before text */
 .ant-input-group-addon {
  background-color: transparent;

  padding: 0 10px;
  display: flex;
  align-items: center;
  color: #e4af00;
  font-size: 18px;
}

/* Hide default blue button */
.custom-search .ant-btn {
  display: none !important;
}


/* for table */
/* Table header styling */
.custom-table .ant-table-thead > tr > th {
  background-color: transparent !important; /* Remove background */
  font-size: 16px !important;               /* Increase font size */
  font-family: 'Inter', sans-serif !important;
  font-weight: 600;
  color: #000; /* Optional: make header text solid black */
  
}

/* Table body cell styling */
.custom-table .ant-table-tbody > tr > td {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}



